<h3 class="ui header">{{t "forms.simple-test-audit-project-main-obj-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.name-caption")
      data-test-simple-test-audit-project-main-obj-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.field
      class=(if (v-get validationObject "field" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.field-caption")
      data-test-simple-test-audit-project-main-obj-e-field=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "field" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.simple-test-audit-project-main-obj-e.masterObj-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.masterObj
      relationName="masterObj"
      projection="MasterObjL"
      title=(t "forms.simple-test-audit-project-main-obj-e.masterObj-caption")
      readonly=readonly
      componentName="masterObjLookup"
      class=(if (v-get validationObject "masterObj" "isInvalid") "error")
      data-test-simple-test-audit-project-main-obj-e-masterObj=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "masterObj" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.masterObj.masterName
      class=(if (v-get validationObject.masterObj "masterName" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.masterObj.masterName-caption")
      data-test-simple-test-audit-project-main-obj-e-masterObj-masterName=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.masterObj "masterName" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.masterObj.masterField
      class=(if (v-get validationObject.masterObj "masterField" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.masterObj.masterField-caption")
      data-test-simple-test-audit-project-main-obj-e-masterObj-masterField=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.masterObj "masterField" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.simple-test-audit-project-main-obj-e.hierarchy-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.hierarchy
      relationName="hierarchy"
      projection="MainObjL"
      title=(t "forms.simple-test-audit-project-main-obj-e.hierarchy-caption")
      readonly=readonly
      componentName="hierarchyLookup"
      class=(if (v-get validationObject "hierarchy" "isInvalid") "error")
      data-test-simple-test-audit-project-main-obj-e-hierarchy=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "hierarchy" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.hierarchy.name
      class=(if (v-get validationObject.hierarchy "name" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.hierarchy.name-caption")
      data-test-simple-test-audit-project-main-obj-e-hierarchy-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.hierarchy "name" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.simple-test-audit-project-main-obj-e.currentDetailObj-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.currentDetailObj
      relationName="currentDetailObj"
      projection="DetailObjL"
      title=(t "forms.simple-test-audit-project-main-obj-e.currentDetailObj-caption")
      readonly=readonly
      componentName="currentDetailObjLookup"
      class=(if (v-get validationObject "currentDetailObj" "isInvalid") "error")
      data-test-simple-test-audit-project-main-obj-e-currentDetailObj=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "currentDetailObj" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.currentDetailObj.detailName
      class=(if (v-get validationObject.currentDetailObj "detailName" "isInvalid") "error")
      label=(t "forms.simple-test-audit-project-main-obj-e.currentDetailObj.detailName-caption")
      data-test-simple-test-audit-project-main-obj-e-currentDetailObj-detailName=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.currentDetailObj "detailName" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.simple-test-audit-project-main-obj-e.detailObj-caption"}}</label>
    {{flexberry-groupedit
      componentName="detailObjGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.detailObj
      content=model.detailObj
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "detailObj" "isInvalid") "error")
      data-test-simple-test-audit-project-main-obj-e-detailObj=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "detailObj" "message")}}
  </div>
</form>